*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
a,img{
    display: block;
}
.content-main{
    position: relative;
    width: 800px;
    height:411px;
    background: #bbb9b9;
}
.content-btn{
    position: absolute;
    width:100px;
    height:411px;
    background: rgba(150,150,150,0.5);
    z-index:10;
    cursor: pointer;
}
.prev-btn{
    left:0;
    top:0;
}
.next-btn{
    right:0;
    top:0;
}
.btn-img{
    opacity:0.8;
    display: block;
    position: absolute;
    left:0;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.list{
    width:800px;
    height:411px;
}
.list li{
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
}